.underline-on-hover {
    position: relative;
    transition: color 0.3s ease;
  }
  
  .underline-on-hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #007bff; /* Change color as needed */
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .underline-on-hover:hover::after {
    transform: scaleX(1);
  }
  

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
    color: #fff;
    font-size: 2rem;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-control-prev {
    left: 1%;
  }
  
  .carousel-control-next {
    right: 1%;
  }


  .top-loading-bar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ddd; /* Background color of the loading bar */
    z-index: 9999; /* Make sure it's on top of other content */
  }
  
  .top-loading-bar {
    height: 100%;
    background-color: #007bff; /* Color of the loading bar */
  }

  .gradient-container {
    height: 100%;
    background: linear-gradient(to bottom, #6fa8dc, #ffffff); 
    /* background: linear-gradient(to bottom, #4e9ff7, #4b8ef7, #4a7df7, #487cf6, #466cf6); */

    color: #333; /* Text color */
    padding: 20px;
}

.scroll-fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.skill {
  padding: 0 0 50px 0;
  position: relative;
}
/* .skill-bx {
  background: white;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
} */


.skill-slider {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 60%;
  margin: 0 auto 15px auto;
}
.card-img-top {
  height: 200px;
  width: auto;
  object-fit: cover;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/* ProductCard.css */
.product-card {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.card-img-container {
  height: 300px; /* Fixed height for the image container */
}

.hero-img-top {
  height: 500px;
  width: auto;
  object-fit: cover;
  /* background: radial-gradient(circle, #007bff, #000, #fff); */
  background: radial-gradient(circle, #fff, #6fa8dc);
}

.nav-link{
  cursor: pointer;
}







